{% extends "public.html" %} {% block page %}
<div>
  <div class="row q-col-gutter-md justify-center">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4">
      <q-card class="my-card" flat bordered>
        <q-card-section horizontal>
          <q-card-section class="q-pt-xs">
            <div class="text-overline">Currently playing</div>
            <div v-if="currentPlay">
              {% raw %}
              <div class="text-h5 q-mt-sm q-mb-xs">{{ currentPlay.name }}</div>
              <div class="text-caption text-grey">{{ currentPlay.artist }}</div>
              {% endraw %}
            </div>
          </q-card-section>

          <q-card-section class="col-5 flex q-ml-auto">
            <q-img class="rounded-borders" :src="currentPlay.image" />
          </q-card-section>
        </q-card-section>
      </q-card>
    </div>
  </div>

  <div class="row q-col-gutter-md q-mt-lg">
    <div class="col-12 col-md-6">
      <q-card>
        <q-card-section>
          <p style="font-size: 22px">Pick a song</p>
          <q-select
            outlined
            v-model="playlist"
            :options="playlists"
            label="playlists"
            @update:model-value="selectPlaylist"
          >
          </q-select>
        </q-card-section>
        <q-card-section class="q-pa-none">
          <q-separator></q-separator>
          <q-item
            v-if="!currentPlaylist.length"
            v-for="k, i in Array.from(Array(5))"
            :key="i"
          >
            <q-item-section>
              <q-item-label>
                <q-skeleton type="text"></q-skeleton>
              </q-item-label>
              <q-item-label caption>
                <q-skeleton type="text" width="65%"></q-skeleton>
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-virtual-scroll
            style="max-height: 300px"
            :items="filteredPlaylist"
            separator
          >
            <template v-slot="{ item, index }">
              <q-item
                :key="index"
                dense
                clickable
                v-ripple
                @click="payForSong(item.id, item.name, item.artist, item.image)"
              >
                <q-item-section>
                  <q-item-label>
                    {% raw %} {{ item.name }} - ({{ item.artist }}){% endraw %}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-virtual-scroll>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section class="q-mt-md">
          <q-input
            outlined
            v-model="searchPlaylist"
            label="Search..."
            maxlength="12"
            dense
          >
            <template v-slot:append>
              <q-icon
                :name="searchPlaylist !== '' ? 'close' : 'search'"
                @click="searchPlaylist = ''"
                class="cursor-pointer"
              ></q-icon>
            </template>
          </q-input>
        </q-card-section>
      </q-card>
    </div>
    <div class="col-12 col-md-6">
      <q-card class="col-12 col-md-6 full-height">
        <q-card-section>
          <p style="font-size: 22px">Playing next</p>
          <q-virtual-scroll
            style="max-height: calc(300px + 56px)"
            class="full-height"
            :items="queue"
            separator
          >
            <template v-slot="{ item, index }">
              <q-item :key="index" dense clickable v-ripple>
                <q-item-section>
                  <q-item-label>
                    {% raw %} {{ item.name }} - ({{ item.artist }}){% endraw %}
                  </q-item-label>
                </q-item-section>
              </q-item>
            </template>
          </q-virtual-scroll>
        </q-card-section>
      </q-card>
    </div>
  </div>
  <q-dialog v-model="receive.dialogues.first" position="top">
    <q-card class="q-pa-lg lnbits__dialog-card">
      <q-card-section class="q-pa-none">
        <div class="row">
          <div class="col-4">
            <img style="width: 100px" :src="receive.image" />
          </div>
          <div class="col-8">
            {% raw %}
            <strong style="font-size: 20px">{{ receive.name }}</strong><br />
            <strong style="font-size: 15px">{{ receive.artist }}</strong>
          </div>
        </div>
      </q-card-section>
      <br />
      <div class="row q-mt-lg q-gutter-sm">
        <q-btn outline color="grey" @click="getInvoice(receive.id)"
          >Play for {% endraw %}
          <span v-text="formatBalance(price)"></span>
        </q-btn>
      </div>
    </q-card>
  </q-dialog>
  <q-dialog
    v-model="receive.dialogues.second"
    position="top"
    @hide="clearReceivePoll"
  >
    <q-card class="q-pa-lg lnbits__dialog-card">
      <a
        class="text-secondary"
        :href="'lightning:' + receive.paymentReq.toUpperCase()"
      >
        <lnbits-qrcode
          :value="`lightning:${receive.paymentReq.toUpperCase()}`"
        ></lnbits-qrcode>
      </a>
      <div class="row q-mt-lg q-gutter-sm">
        <q-btn outline color="grey" @click="copyText(receive.paymentReq)"
          >Copy invoice</q-btn
        >
      </div>
    </q-card>
  </q-dialog>
</div>

{% endblock %} {% block scripts %}
<script>
  window.app = Vue.createApp({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        currentPlaylist: [],
        currentlyPlaying: {},
        playlists: {},
        playlist: '',
        heavyList: [],
        queue: [],
        selectedWallet: {},
        paid: false,
        receive: {
          dialogues: {
            first: false,
            second: false
          },
          paymentReq: '',
          paymentHash: '',
          name: '',
          artist: '',
          image: '',
          id: '',
          showQR: false,
          data: null,
          dismissMsg: null,
          paymentChecker: null
        },
        searchPlaylist: ''
      }
    },
    computed: {
      currentPlay() {
        return this.currentlyPlaying ?? {}
      },
      filteredPlaylist() {
        if (this.searchPlaylist === '' || this.searchPlaylist.length < 2) {
          return this.currentPlaylist
        }
        return this.currentPlaylist.filter(
          song =>
            song.name
              .toLowerCase()
              .includes(this.searchPlaylist.toLowerCase()) ||
            song.album
              .toLowerCase()
              .includes(this.searchPlaylist.toLowerCase()) ||
            song.artist
              .toLowerCase()
              .includes(this.searchPlaylist.toLowerCase())
        )
      }
    },
    methods: {
      payForSong(song_id, name, artist, image) {
        this.receive.name = name
        this.receive.artist = artist
        this.receive.image = image
        this.receive.id = song_id
        this.receive.dialogues.first = true
      },
      clearReceivePoll() {
        clearInterval(this.receive.paymentChecker)
        this.receive.dismissMsg()
      },
      getInvoice(song_id) {
        const dialog = this.receive
        LNbits.api
          .request(
            'GET',
            '/jukebox/api/v1/jukebox/jb/invoice/' +
              '{{ juke_id }}' +
              '/' +
              song_id
          )
          .then(response => {
            this.receive.paymentReq = response.data.invoice
            this.receive.paymentHash = response.data.payment_hash
            this.receive.dialogues.second = true
            dialog.data = response.data
            dialog.dismissMsg = this.$q.notify({
              timeout: 0,
              message: 'Waiting for payment...'
            })
            if (location.protocol !== 'http:') {
              this.websocketUrl =
                'wss://' + document.domain + ':' + location.port + '/api/v1/ws'
            } else {
              this.websocketUrl =
                'ws://' + document.domain + ':' + location.port + '/api/v1/ws'
            }
            this.connectionWebsocket = new WebSocket(
              this.websocketUrl + '/' + response.data.payment_hash
            )
            this.connectionWebsocket.onmessage = e => {
              if (e.data == 'paid') {
                dialog.dismissMsg()
                this.receive.dialogues.second = false
                this.receive.dialogues.first = false
                this.$q.notify({
                  type: 'positive',
                  message:
                    'Success! "' + this.receive.name + '" will be played soon',
                  timeout: 3000
                })
                LNbits.api
                  .request(
                    'GET',
                    '/jukebox/api/v1/jukebox/jb/invoicep/' +
                      this.receive.id +
                      '/{{ juke_id }}/' +
                      this.receive.paymentHash
                  )
                  .then(ress => {
                    if (ress.data.song_id == this.receive.id) {
                      this.getQueue()
                    }
                  })
                this.connectionWebsocket.close()
              }
            }
          })
          .catch(err => {
            clearInterval(dialog.paymentChecker)
            dialog.dismissMsg()
            this.receive.dialogues.second = false
            this.receive.dialogues.first = false
            this.$q.notify({
              color: 'warning',
              html: true,
              message:
                '<center>Device is not connected! <br/> Ask the host to turn on their device and have Spotify open</center>',
              timeout: 5000
            })
          })
      },
      getQueue() {
        LNbits.api
          .request('GET', '/jukebox/api/v1/jukebox/jb/queue/{{juke_id}}')
          .then(res => {
            let {playing, queue} = res.data
            queue = new Map(
              queue.map(s => [s.id, s]).filter(s => s.id !== playing.id)
            )
            this.currentlyPlaying = playing
            this.queue = [...queue.values()]
            this.queue.pop()
          })
          .catch(LNbits.utils.notifyApiError)
      },
      selectPlaylist() {
        LNbits.api
          .request(
            'GET',
            '/jukebox/api/v1/jukebox/jb/playlist/' +
              '{{ juke_id }}' +
              '/' +
              this.playlist.split(',')[0].split('-')[1]
          )
          .then(response => {
            this.currentPlaylist = response.data
          })
          .catch(LNbits.utils.notifyApiError)
      },
      currentSong() {}
    },
    created() {
      this.getQueue()
      this.playlists = JSON.parse('{{ playlists | tojson }}')
      this.selectedWallet.inkey = '{{ inkey }}'
      LNbits.api
        .request(
          'GET',
          '/jukebox/api/v1/jukebox/jb/playlist/' +
            '{{ juke_id }}' +
            '/' +
            this.playlists[0].split(',')[0].split('-')[1]
        )
        .then(response => {
          this.currentPlaylist = response.data
        })
        .catch(err => {
          LNbits.utils.notifyApiError(err)
        })
      setInterval(() => {
        this.getQueue()
      }, 60000)
    }
  })
</script>
{% endblock %}
